{%load static%}

<link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
<nav class="navbar bg-white fixed-top navbar-expand-sm" id="myNav" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
            <img src="{% static 'img/log.png' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" title="">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main" title="">MAIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" title="">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
</nav>