.jumbotron{
    background-size: auto 300%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 55px;
    height: 300px;
}

h1{
    color: rgb(77, 42, 17);
    font-family: Cambria;  
    font-size: 20px;
    padding-top: 40px;
    letter-spacing: 7px;
}

p{
    color: rgb(77, 42, 17);
    font-family: sans-serif;  
    font-size: 14px;
    letter-spacing: 5px;
    padding-top: 15px;
}

.services{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    
}

.services a {
    color: rgb(137, 88, 53);
    letter-spacing: 5px;
    font-family: sans-serif;  
    font-size: 23px;
    margin-left: 160px;
    margin-right: 140px;
    text-decoration: none;
}

.services .link:nth-child(2) {
    margin-left: 200px;
}

.gambar{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gambar img {
    margin-left: 30px;
    margin-right: 30px;
    width: 350px;
    height: 300px;
}
