<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Home Shop</title>
    {%include "snippets/styles.html"%}
</head>
<body>
  {%include "snippets/navbar.html"%}
  <div style="padding-top: 150px;">
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{% static 'img/bg3.jpeg' %}');">
      <div class="container text-brown text-center">
        <h1 class="display-4" style="padding-top: 40px;">Welcome to Home Shop</h1>
        <p class="lead">Shop your Home Needs</p>
      </div>
    </div>
 </div>

  <div class="services">
    <a class="link" href="/about" title="">ABOUT</a>
    <a class="link" href="/main" title="">MAIN</a>
    <a class="link" href="/" title="">SERVICES</a>
  </div>

  <div class="gambar">
    <img src="{% static 'img/bg.jpeg' %}" alt="">
    <img src="{% static 'img/gb1.jpeg' %}" alt="">
    <img src="{% static 'img/bg2.jpeg' %}" alt="">
  </div>

  <br>
  <br>
  <br>
{%include "snippets/scripts.html"%}
</body>
</html> 
