<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Selamat Datang di Home Shop</h1>
    <h2>The best Shop in town</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, laboriosam vel illum odio a deleniti, mollitia temporibus ducimus quo ab excepturi repudiandae iure sit quis ad ipsam quasi dignissimos dolore.</p>
    <ul>
        <li><a href="/" title="">home</a></li>
        <li><a href="/main/" title="">main</a></li>
    </ul> 
</body>
</html> 
