<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
    {% block meta %}
    <title>{{app_name}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    {% endblock meta %}
</head>
<body>
    {% block content %}
    {%include "snippets/navbar.html"%}
    <div class="tugas">
        <h1>{{app_name}}'s Item</h1>
    </div>
    <div class="profil">
        <h5>App Name:</h5>
        <p>{{app_name}}</p>
        <h5>Name: </h5>
        <p>{{ name }}<p>
        <h5>Class: </h5>
        <p>{{ class }}<p>
    </div>
    
    <div class="table-container"> 
        <h5>Kamu menyimpan {{total_item}} item pada aplikasi ini.</h5>   
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date Added</th>
                    <th>Tambah</th>
                    <th>Kurang</th>
                    <th>Hapus</th>
                </tr>
            </thead>

            {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

            {% for Item in products %}
                <tr>
                    <td>{{Item.name}}</td>
                    <td>{{Item.price}}</td>
                    <td>{{Item.description}}</td>
                    <td>{{Item.amount}}</td>
                    <td>{{Item.date_added}}</td>

                    <td>
                        <form method="post" action="{% url 'main:tambah_amount' Item.id %}">
                            {% csrf_token %}
                            <button type="submit">+</button>
                        </form>
                    </td>
                    <td> 
                        <form method="post" action="{% url 'main:kurang_amount' Item.id %}">
                            {% csrf_token %}
                            <button type="submit">-</button>
                        </form>
                    </td>
                    <td> 
                        <form method="post" action="{% url 'main:hapus_item' Item.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>

        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>

    <br />



    {%include "snippets/scripts.html"%}
    {% endblock content %}
</body>
</html> 

